<html>
<head>
<title>GopherFace - New Post</title>
</head>
<body>
	<h1>GopherFace - New Post 1</h1>

	<div class="formContainer">

		<form action="/postpreview" method="POST">

		<p><input placeholder="Caption" type="text" name="username" value="{{.Fields.username}}"></p>
		<p><span class="error_msg" id="captionError">{{.Errors.captionError}}</span></p>

		<textarea name="messageBody" placeholder="What is on your mind?"></textarea>
		<p><span class="error_msg" id="messageBodyError">{{.Errors.messageBodyError}}</span></p>
{{.CurrentMood}}
		<p><label for="moodList"></p>
		<select id="moodList" name="moodList"> 
		   {{range $key, $value := .Moods}}
			 <option value="{{ $value }}" {{if $value eq .CurrentMood}}selected{{end}}>{{ $key }}</option>
		   {{end}}
		</select>

		<p><input type="hidden" name="author" value="Anonymous Gopher"></p>

		<p><input type="submit" value="Post" /></p>

	</form>


	</div>

</body>
</html>


