<html>
<head>
<title>GopherFace - New Post</title>
</head>
<body>
	<h1>GopherFace - New Post</h1>

	<div class="formContainer">

		<form action="/postpreview" method="POST">

		<p><input placeholder="Caption" type="text" name="caption" value="{{.Fields.caption}}"></p>
		<p><span class="error_msg" id="captionError">{{.Errors.captionError}}</span></p>

		<textarea name="messageBody" placeholder="What's on your mind, Gopher?">{{.Fields.messageBody}}</textarea>
		<p><span class="error_msg" id="messageBodyError">{{.Errors.messageBodyError}}</span></p>
Current Mood: {{.CurrentMood}}
		<p><label for="mood"></p>
		<select id="mood" name="mood"> 
		   {{range $key, $value := .Moods}}
			 <option value="{{ $value }}" {{if eq $value $.CurrentMood}}selected{{end}}>{{index $.MoodEmoji $key}} {{ $key }}</option>
		   {{end}}
		</select>

		<p><input type="hidden" name="author" value="Anonymous Gopher"></p>

		<p><input type="submit" value="Post" /></p>

	</form>


	</div>

</body>
</html>


